@font-face{
    font-family: "Baskerville Old Face";
    src: url('assets/font/BASKVILL.TTF')
}

*{
    box-sizing: border-box;
    font-family: "Baskerville Old Face";
    margin: 0;
    text-anchor: middle;
    max-width: 100%;
}

li{
    list-style: none;
}

/************header*************/
header{
    display: block;
    text-align: center;
    background-color:  #a9cfcb;
    width: 100%;
    height: 400px;
}


#titre{
    display: flex;
    position: absolute; 
    left:35px;
    font-size: 46px;
}

#photoID{
    display: inline-flex;
    justify-content: center;
    border: 1px solid #709aa1;
    margin-top: 65px;
    margin-right: -200px;
    border-radius: 270px;
    box-shadow: 0px 0px 20px #418079;
}

#nom{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 200px;
    font-size: 35px;
}

.reseaux{
    display: flex;
    justify-content: flex-end;
    margin-top: -380px;
    margin-right: 15px;
}

.reseaux li:hover{
    opacity: 0.8;
    transform: scale(1.1,1.1);
}

#sous-titre{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -25px;
    font-size: 30px;
    font-style: oblique;
}

.langues ul{
    display: inline-flex;
    position: absolute;
    top: 340px;
    left: -35px;
}
.langues li{
    margin: 3px;
}

.langues li:hover{
    transform: scale(1.1,1.1);
}

.menu-container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 35px;
    background-color: #333333;
    width: 100%;
    padding: 5px 20px;
}
.menu-container a{
    color: azure;
    text-decoration: none;
}
.menu-container li:hover{
    /*background-color: #4b4a4a;*/
    text-align: center;
    text-shadow: 0px 0px 20px rgb(109, 167, 162);
    border-radius: 3px;
    transform: scale(1.15,1.15)
}
/*****************************/

/************body*************/
.titreSection{
    font-size: 30px;
}

.presentation{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

#presentation-paragraphe{
    font-size: 20px;
}

#presentation-paragraphe > p > a{
    text-decoration: none;
    color: #333333;
}

#next-step > button{
    display: inline-block;
    background-color: #a9cfcb;
    border: none;
    color: beige;
    padding: 15px 25px;
    border-radius: 10px;
    border-style: double;
    border-color: beige;
    margin: 2px 4px;
    cursor: pointer;
}
#next-step > button > a {
    text-align: center;
    font-size: 32px;
    text-decoration: none;
    color: beige;
}

#next-step > button:hover{
    background-color: #b1dfda;
}

.blocks{
    display: flex;
    flex-wrap: wrap;
}

.blocks h2{
    padding: 35px;
}

.block-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 50%;
    background-color: rgb(0, 255, 179);
    padding: 35px;
    text-align: center;
}

.block-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 50%;
    background-color: #333333;
    padding: 35px;
    text-align: center;    
}

.block-left, .block-right{
    border: 5px solid black;
}

#formations{
    display: flex;
    flex-direction: row;
}

.__2018, .__2017, .__2015{
    display: inline-flex;
    border: 2px solid red;
    margin: 2px 2px 2px 2px;
    padding: 2px;
}

.formationType{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.dates{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.etablissement{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.etablissement>.__2018{
    margin: 10% 0px 10% 0px;
}
/*****************************/